.content .content-header {
    min-height: 100px;
    background-color: black;
    color: white;
}

.content .message {
    min-height: 40px;
    background-color: lightgray;
    font-size: 20px;
    margin: 5px 20px;
    padding-left: 20px;
    border-radius: 20px;
}

.content .message .date {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

